<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TPS9266xEvaluationModule.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      
      <section name="TabControlSettings" type="TPS9266xEvaluationModule.TabControlSettings, TPS9266xEvaluationModule"/>
      
       <sectionGroup name="geoSettings">
            <section name="summary" type="System.Configuration.NameValueSectionHandler" />
        </sectionGroup>

    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <TabControlSettings>
    <!-- each tab must have an init with the device that has the most config file entries, this sets up all fields in the config file correctly -->
    <Tab0 Device="530" Address="0" Enable1="false" Enable2="false" Enable3="false" Enable4="false" Enable5="false" Enable6="false" Enable7="false" Enable8="false" Enable9="false" Enable10="false" Enable11="false" Enable12="false" Enable13="false" Enable14="false" Enable15="false" Enable16="false" Enable17="false" Enable18="false" Text1="" Combo0="0"  Combo1="0" Combo2="0" Combo3="0" Combo0_1="0" Combo0_2="0" Combo1_1="0" Combo1_2="0" Slider0_1="0" Slider0_2="0"  Slider0_3="0" Slider1_1="0" Slider1_2="0" Slider1_3="0" Slider2_1="0" Slider2_2="0" Slider2_3="0" Slider3_1="0" Slider3_2="0"></Tab0>
    <Tab1 Device="530" Address="1" Enable1="false" Enable2="false" Enable3="false" Enable4="false" Enable5="false" Enable6="false" Enable7="false" Enable8="false" Enable9="false" Enable10="false" Enable11="false" Enable12="false" Enable13="false" Enable14="false" Enable15="false" Enable16="false" Enable17="false" Enable18="false" Text1="" Combo0="0"  Combo1="0" Combo2="0" Combo3="0" Combo0_1="0" Combo0_2="0" Combo1_1="0" Combo1_2="0" Slider0_1="0" Slider0_2="0"  Slider0_3="0" Slider1_1="0" Slider1_2="0" Slider1_3="0" Slider2_1="0" Slider2_2="0" Slider2_3="0" Slider3_1="0" Slider3_2="0"></Tab1>
    <Tab2 Device="530" Address="2" Enable1="false" Enable2="false" Enable3="false" Enable4="false" Enable5="false" Enable6="false" Enable7="false" Enable8="false" Enable9="false" Enable10="false" Enable11="false" Enable12="false" Enable13="false" Enable14="false" Enable15="false" Enable16="false" Enable17="false" Enable18="false" Text1="" Combo0="0"  Combo1="0" Combo2="0" Combo3="0" Combo0_1="0" Combo0_2="0" Combo1_1="0" Combo1_2="0" Slider0_1="0" Slider0_2="0"  Slider0_3="0" Slider1_1="0" Slider1_2="0" Slider1_3="0" Slider2_1="0" Slider2_2="0" Slider2_3="0" Slider3_1="0" Slider3_2="0"></Tab2>
    <Tab3 Device="530" Address="3" Enable1="false" Enable2="false" Enable3="false" Enable4="false" Enable5="false" Enable6="false" Enable7="false" Enable8="false" Enable9="false" Enable10="false" Enable11="false" Enable12="false" Enable13="false" Enable14="false" Enable15="false" Enable16="false" Enable17="false" Enable18="false" Text1="" Combo0="0"  Combo1="0" Combo2="0" Combo3="0" Combo0_1="0" Combo0_2="0" Combo1_1="0" Combo1_2="0" Slider0_1="0" Slider0_2="0"  Slider0_3="0" Slider1_1="0" Slider1_2="0" Slider1_3="0" Slider2_1="0" Slider2_2="0" Slider2_3="0" Slider3_1="0" Slider3_2="0"></Tab3>
  </TabControlSettings>
  
   <geoSettings>
        <summary>
            <add key="Country" value="United States" />
            <add key="City" value="Dallas" />
        </summary>
    </geoSettings>
  
    <userSettings>
      <TPS9266xEvaluationModule.Properties.Settings>
        <setting name="pwm1Freq_1" serializeAs="String">
          <value>1000</value>
        </setting>
        <setting name="pwm1DC_1" serializeAs="String">
          <value>100</value>
        </setting>
        <setting name="pwm2DC_1" serializeAs="String">
          <value>100</value>
        </setting>
        <setting name="checkBoxEnable" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="checkBoxVREGEnable" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="ioVoltage" serializeAs="String">
          <value>3.3</value>
        </setting>
        <setting name="checkBoxWrite" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="spiFreq" serializeAs="String">
          <value>2000</value>
        </setting>
        <setting name="radioButton518" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="radioButton682" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="radioButtonSingle" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="radioButtonStar" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="radioButtonDaisy" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="comboBoxAddress" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="checkBoxLockFreqs" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="comboBoxNumDevices" serializeAs="String">
          <value>4</value>
        </setting>
        <setting name="comboBoxNumSelectedIndex" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="setMeUp" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="maxDevices" serializeAs="String">
          <value>4</value>
        </setting>
        <setting name="setMeUpHolder" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="radioButtonHex" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="savedTab" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="checkBoxClkSync" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="textBoxClkSyncFreq" serializeAs="String">
          <value>1000</value>
        </setting>
        <setting name="textBoxDutyCycle" serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="textBoxPhase" serializeAs="String">
          <value>180</value>
        </setting>
        <setting name="radioButton520" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="comboBoxEVM" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="checkBoxPhase180_1" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="checkBoxSyncPulses_1" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="radioButtonPWM1" serializeAs="String">
          <value>True</value>
        </setting>
        <setting name="checkBoxPhase180_2" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="checkBoxSyncPulses_2" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="pwm1Freq_2" serializeAs="String">
          <value>1000</value>
        </setting>
        <setting name="pwm1DC_2" serializeAs="String">
          <value>100</value>
        </setting>
        <setting name="pwm2DC_2" serializeAs="String">
          <value>100</value>
        </setting>
        <setting name="userSelectedEVM" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="currentCommand" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="BuckPhaseShift" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="LMMdutyCycle" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="checkBoxPhase" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="comboBox66XDevices" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="checkBoxAllChannel" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="comboBoxSort" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="comboBoxCMWTAP" serializeAs="String">
          <value>7</value>
        </setting>
        <setting name="currentlySelectedRegister" serializeAs="String">
          <value>""</value>
        </setting>
        <setting name="autoLoadFileName" serializeAs="String">
          <value>""</value>
        </setting>
        <setting name="checkBoxAutoLoadFile" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="comboBoxBusWalkDevices" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="mtpConfigModes" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="currentlySelectedRegisterMTP_0_1_4_5" serializeAs="String">
          <value>""</value>
        </setting>
        <setting name="currentlySelectedRegisterMTP_2_6" serializeAs="String">
          <value>""</value>
        </setting>
        <setting name="currentlySelectedRegisterMTP_3_7" serializeAs="String">
          <value>""</value>
        </setting>
        <setting name="currentlySelectedRegisterMTP_8_9" serializeAs="String">
          <value>""</value>
        </setting>
        <setting name="currentlySelectedRegisterMTP_10" serializeAs="String">
          <value>""</value>
        </setting>
        <setting name="currentlySelectedRegisterMTP_11" serializeAs="String">
          <value>""</value>
        </setting>
        <setting name="currentlySelectedRegisterMTP_12_13" serializeAs="String">
          <value>""</value>
        </setting>
        <setting name="currentlySelectedRegisterMTP_14" serializeAs="String">
          <value>""</value>
        </setting>
        <setting name="currentlySelectedRegisterMTP_15" serializeAs="String">
          <value>""</value>
        </setting>
        <setting name="checkBoxAutoReadAll" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="baudRate" serializeAs="String">
          <value>1000000</value>
        </setting>
        <setting name="RegHeight" serializeAs="String">
          <value>1060.216</value>
        </setting>
        <setting name="RegWidth" serializeAs="String">
          <value>1930.678</value>
        </setting>
        <setting name="RegLeft" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="RegTop" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="screensNum" serializeAs="String">
          <value>0</value>
        </setting>
        <setting name="checkBoxNoBusWalk" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="checkBoxAckEnable" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="lmSlider0_1" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>0</string>
              <string>0</string>
              <string>0</string>
              <string>0</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="lmSlider1_1" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>0</string>
              <string>0</string>
              <string>0</string>
              <string>0</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="lmSlider2_1" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>0</string>
              <string>0</string>
              <string>0</string>
              <string>0</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="lmCheckBox0_1" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>F</string>
              <string>F</string>
              <string>F</string>
              <string>F</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="lmCheckBox1_1" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>F</string>
              <string>F</string>
              <string>F</string>
              <string>F</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="lmCheckBox2_1" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>F</string>
              <string>F</string>
              <string>F</string>
              <string>F</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="lmCheckBox3_1" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>F</string>
              <string>F</string>
              <string>F</string>
              <string>F</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="lmCheckBox4_1" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>F</string>
              <string>F</string>
              <string>F</string>
              <string>F</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="lmCombo0" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>0</string>
              <string>0</string>
              <string>0</string>
              <string>0</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="lmCheckBox0" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>F</string>
              <string>F</string>
              <string>F</string>
              <string>F</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="lmSlider0_2" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>0</string>
              <string>0</string>
              <string>0</string>
              <string>0</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="lmSlider1_2" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>0</string>
              <string>0</string>
              <string>0</string>
              <string>0</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="lmSlider2_2" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>0</string>
              <string>0</string>
              <string>0</string>
              <string>0</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="lmCheckBox0_2" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>F</string>
              <string>F</string>
              <string>F</string>
              <string>F</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="lmCheckBox1_2" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>F</string>
              <string>F</string>
              <string>F</string>
              <string>F</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="lmCheckBox2_2" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>F</string>
              <string>F</string>
              <string>F</string>
              <string>F</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="lmCheckBox3_2" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>F</string>
              <string>F</string>
              <string>F</string>
              <string>F</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="lmCheckBox4_2" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>F</string>
              <string>F</string>
              <string>F</string>
              <string>F</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="lmCheckBox5_1" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>F</string>
              <string>F</string>
              <string>F</string>
              <string>F</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="lmCheckBox5_2" serializeAs="Xml">
          <value>
            <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
              <string>F</string>
              <string>F</string>
              <string>F</string>
              <string>F</string>
            </ArrayOfString>
          </value>
        </setting>
        <setting name="textBoxWriteDelay" serializeAs="String">
          <value>100</value>
        </setting>
        <setting name="autoLoadFileName664" serializeAs="String">
          <value />
        </setting>
        <setting name="autoLoadFileName665" serializeAs="String">
          <value />
        </setting>
        <setting name="autoLoadFileName667" serializeAs="String">
          <value />
        </setting>
      </TPS9266xEvaluationModule.Properties.Settings>
          
    </userSettings>
  
</configuration>